

nav ul li{
     display:inline-block;
     list-style:none;
     margin:10px 20px;
     padding:5px;
     border: 5px FB6F92;
     border-radius:10px;
     border-style:outset;
     background-color:FB6F92;
     
}

nav ul li a{
    color:#FFEBED;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background:none;
    position: absolute;
    left: 0;
    bottom: -6px;
}

p{
color:black;
font-size:15;
font-family:"Sans Serif";
border:5px #C20030;
background-color:FB6F92;
width:350;
line-height: 1.5;
border-style:double;
}

.myclass{
color:black;
font-family:"Georgia";
font-size:15;
}

th{
padding:5px;
background-color:#E6368E;
}

td{
padding:10px;
background-color:#ffddee
}


a:visited{
color:0xFFEC407A;
}

a:hover{
color:#FAA0A0;
}

a:active{
color:#E0218A;
}

